

/* body{
    background-color: rgb(21, 8, 52);
}
h2,h3,h1{
    color: azure;
} */
.modal-content{
background-color: rgb(247, 245, 216);
border: 8px solid rgb(199, 144, 50);
border-radius: 40px;
}
/* .modal-title{
    align-items: center;
    text-align: center;
} */
.rf{
    display: flex;
    justify-content: space-between;
    justify-items: auto;
}