@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');


.modal-content{
background-color: rgb(247, 245, 216);
border: 8px solid rgb(199, 144, 50);
border-radius: 40px;
}
.r1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.acc h2{
    font-family: 'Titan One', cursive;
}
