*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(32, 3, 50);
    color: beige;
}
.modal-content{
background-color: rgb(247, 245, 216);
}
/* .modal-title{
    align-items: center;
    text-align: center;
} */